@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(15rem * 7));
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.92);
    	opacity: 0.6;
	}

	70% {
		transform: scale(1);
    	opacity: 1;
	}

	100% {
		transform: scale(0.92);  
    	opacity: 0.6;
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(0.92);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.92);  
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-1.2rem);
	}

	100% {
		transform: translatey(0px);
	}
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(100%);
  transition: 1.2s all;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
