@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0 auto;
  }

  html {
    overflow-x: hidden;
  }

  footer, header {
    width: 90%;
  }

  header {
    padding-top: 10px;
  }

  section, aside {
    width: 100vw;
  }

  .titulo, h2 {
    font-size: 48px;
  }

  p, .markup {
    font-size: 16px;
  }

  #serv1 .paragrafo, #serv1 .titulo, #serv2 .paragrafo, #serv2 .titulo {
    padding: 5px 15px;
    width: 90%;
  }

  .coach {
    align-items: center;
    margin: 0 -90px;
   }

   .coach h3 {
    font-size: 35px;
   }

  .aside-container .titulo {
    width: 90%;
    text-align: center;
  }

  .aside-container p {
    width: 90%;
  }

  #aside2 h2 {
    width: 90%;
    font-size: 37px;
  }

  .card {
    margin: 0 30px;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
  }

  html {
    overflow-x: hidden;
  }

  header {
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: transparent;
  }

  header nav ul {
    display: none;
  }

  .menu-btn {
    display: block;
    width: 40px;
    height: 40px;
  }

  .menu-btn {
    display: block;
    position: relative;
    z-index: 12;
  }

  nav ul {
    position: fixed;
    top: 0px;
    right: -100%;
    background-color: #333;
    height: 100%;
    width: 70%;
    text-align: center;
    display: block;
    transition: 0.3s;
    z-index: 10;
  }

  nav ul.open {
    right: 0;
  }

  nav ul li {
    width: 100%;
    margin: 80px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  .logo {
    font-size: 20px;
  }

  .markup {
    font-size: 16px;
  }

  .titulo {
    font-size: 27px;
  }

  .titulo, .paragrafo {
    width: 90%;
  }

  p {
    font-size: 16px;
  }

  section p {
    width: 277px;
  }

  section, aside {
    width: 100vw;
  }

  #teamzed {
    padding: 20px 20px;
    margin-top: 40px;
  }

  #teamzed img {
    width: 250px;
    height: 250px;
  }

  #serv1 {
    flex-direction: column;
  }

  #serv1 .cards-box {
    margin-top: 0px;
    align-items: center;
  }

  #serv1 .card {
    margin-top: 220px;
  }

  #serv1 .paragrafo, #serv1 .titulo, #serv2 .paragrafo, #serv2 .titulo {
    padding: 5px 15px;
    width: 90%;
  }

  #serv1 .paragrafo {
    margin-bottom: -30px;
  }

  .coach-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coach {
    align-items: center;
    margin: 90px 0 110px 0;
    padding-bottom: 30px;
   }
 
   .coach h3 {
     font-size: 30px;
   }

  .cards-box {
    flex-direction: column;
  }

  #serv2 .cards-box {
    margin-top: 30px;
  }

  #serv2 .card {
    margin-top: 40px;
  }

  aside {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  aside img {
    margin-top: 80px;
    width: 90%;
  }

  .aside-container .titulo {
    width: 90%;
    text-align: center;
  }

  .aside-container p {
    text-align: justify;
    width: 90%;
  }

  #aside2 h2 {
    width: 90%;
    font-size: 37px;
  }

  #aside2 .forms-button {
    margin-top: 20px;
  }

  footer {
    display: none;
  }
}
