@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

:root {
  --fs-400: 1.4rem;
  --fs-500: 1.45rem;
  --fs-600: 1.6rem;
  --fs-l: 2.6rem;
  --fs-xl: 3.1rem;
  font-weight: 300;
}

/* header */
header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 1.2rem 0 1.2rem;
}

#store {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store-title {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  background: #e96029;
  border-radius: 40px;
  color: white;
}

.buy-btn {
  background-color: #e96029;
  border-color: transparent;
  border-radius: 12px;
  padding: 0.3rem;
  margin: -0.8rem 0;
  transition: 0.3s;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #913c1b;
}

.planos-n {
  height: 13.5rem;
  width: 13.5rem;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow:  5px 5px 0px  rgb(233, 96, 41),  /*right*/
                -5px -5px 0px rgb(34, 34, 34); /*left*/
}

.planos-n:hover {
  transform: scale(0.95);
  box-shadow:  15px 15px 0px rgb(233, 96, 41, 0.5),  /*right*/
                -15px -15px 0px  rgb(34, 34, 34, 0.5); /*left*/
}

.box-loja {
  margin-top: 5.5rem;
  padding: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-loja img {
  margin-top: -13rem;
}



