@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

:root {
  --fs-400: 1.4rem;
  --fs-500: 1.45rem;
  --fs-600: 1.6rem;
  --fs-l: 2.6rem;
  --fs-xl: 3.1rem;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing:border-box;
}

body {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  margin: 1rem 0;
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: #222;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.markup {
  margin: 4rem 0 2rem 0;
  padding: 1rem 3rem;
  background: #e96029;
  border-radius: 40px;
  color: white;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background: #e96029;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(233, 96, 41, 0.7);
}

::-webkit-scrollbar-thumb:active{
  background: rgb(233, 96, 41, 0.7);
}

/* fonts */
.titulo, #aside2 h2 {
  font-size: var(--fs-xl);
}

.paragrafo, .coach span, #aside2 .forms-button:hover {
  font-size: var(--fs-500);
}

.coach h3, .logo {
  font-size: var(--fs-l);
}

.titulo-card {
  font-size: var(--fs-600);
}

.descricao-card, #aside2 .forms-button {
  font-size: var(--fs-500);
}

#legenda, #legenda2 {
  color: white;
  font-size: var(--fs-500);
}

/* menu list */
ul {
  list-style: none;
}

a {
  color: rgb(233, 96, 41);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 0.6;
}

#members, #goback {
  color: rgb(233, 96, 41);
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
}

#members:hover, #goback:hover {
  opacity: 0.6;
}

.hide {
  display: none;
}

.open {
  display: block;
}

/* header & menus */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 1.2rem 3rem 1.2rem;
}

.logo {
  font-weight: bold;
  color: #e96029;
}

.menu-btn {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.8rem;
  cursor: pointer;
  color: #e96029;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 2.5rem;
}

nav ul li a {
  padding: 0.6rem 0.8rem;
  transition: 0.3s;
  font-size: var(--fs-500);
  color: #e96029;
}

nav ul li a:hover {
  opacity: 0.6;
}

/* section #teamzed */
#teamzed {
  background-color: transparent;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blob {
	background: transparent;
	animation: pulse 2.5s infinite;
}

#teamzed .titulo {
  margin-top: 1rem;
}

.titulo {
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}

.paragrafo {
  color: #6b6b6b;
  text-align: center;
  margin-bottom: 2rem;
  width: 100vw;
}

/* #serv1 quem somos */
#serv1 {
  margin-top: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-quemsomos {
  margin-top: 7.5rem;
  padding: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #444;
  box-shadow: 0px 12px 34px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 45px 45px;
}

.box-quemsomos img {
  margin-top: -11rem;
}

.coach-container {
  display: flex;
  margin-top: -2rem;
}

.coach {
  margin-top: 5.5rem;
  text-align: center;
}

.coach h3 {
  margin-top: 0.6rem;
  margin-bottom: -0.3rem;
  font-weight: bold;
  color: whitesmoke;
  width: 29rem;
}

.coach span {
  color: #777777;
  width: 100vw;
  padding: 0 1rem;
}

.avatar-van, .avatar-edu, .avatar-wagner {
  height: 14.5rem;
  width: 14.5rem;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow:  5px 5px 0px #e96029,  /*right*/
                -5px -5px 0px rgb(34, 34, 34); /*left*/
}

.avatar-van:hover, .avatar-edu:hover, .avatar-wagner:hover {
  transform: scale(0.95);
  box-shadow:  15px 15px 0px rgb(233, 96, 41, 0.5),  /*right*/
                -15px -15px 0px rgb(34, 34, 34, 0.5); /*left*/
}


.contato-info {
  background-color: #e96029;
  border-color: transparent;
  border-radius: 10px;
  padding: 0 2px;
  margin: .8rem 0;
  transition: 0.3s;
}

#legenda2 {
  text-decoration: underline;
}

.contato-info:hover {
  background-color: #913c1b;
}

.cards-box {
  display: flex;
  justify-content: space-between;
  margin-top: 19.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 5.5rem;
}

.titulo-card {
  margin: 0.3rem 0;
  font-weight: bold;
  color: #f5f5f5;
}

.descricao-card {
  color: #777777;
  margin-top: -0.3rem;
  width: 15.5rem;
}

.container-info2 {
  padding-bottom: 4.4rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.svg-icon {
  width: 3rem;
  height: 3rem;
}

/* #serv2 o que entregamos */
#serv2 {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg {
  width: 37rem;
  height: 37rem;
  padding-top: 0;
}

#serv2 .cards-box {
  margin-top: 5rem;
}

/* aside 1 */
aside {
  background: #e96029;
  justify-content: space-around;
  display: flex;
  width: 100%;
  padding: 0 6rem;
}

.aside-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.aside-container .markup {
  background: #333;
  width: 11rem;
  padding-left: 3rem;
  margin-top: 2rem;
}

.aside-container .titulo {
  text-align: left;
  margin: -1.5rem 0;
  font-weight: none;
}

.aside-container .paragrafo {
  margin-top: -0.3rem;
  width: 34.5rem;
  color: whitesmoke;
  text-align:left;
  margin-bottom: 2.5rem;
}

aside img {
  margin-top: 4.5rem;
  opacity: 0.9;
  animation: float 4s infinite;
}

/* aside 2 */
#aside2 {
  background: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
}

#aside2 h2 {
  margin-top: 15rem;
  width: 45rem;
  text-align: center;
}

.forms-button {
  padding: 1rem 3rem;
  margin-bottom: 4rem;
  color: white;
  border: none;
  border-radius: 15px;
}

#aside2 .forms-button {
  background-color: white;
  color: black;
  margin-top: -15rem;
  transition: 0.3s ease-in-out;
  animation: pulse2 2s infinite;
}

#aside2 .forms-button:hover {
  background-color: #e96029;
  color: whitesmoke;
  animation-play-state: paused;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}