@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Oswald', sans-serif;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e96029;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(233, 96, 41, 0.7);
}

::-webkit-scrollbar-thumb:active{
  background: rgb(233, 96, 41, 0.7);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgb(233, 96, 41);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 0.6;
}

u {
  text-decoration: underline #e96029;
}

.filter-white {
  filter: invert(100%) sepia(22%) saturate(1122%) hue-rotate(133deg) brightness(120%) contrast(92%);
  width: 50px;
  height: 50px;
}

.filter-orange {
  filter: invert(52%) sepia(91%) saturate(3200%) hue-rotate(345deg) brightness(95%) contrast(92%);
  width: 25px;
  height: 25px;
}

.hide {
  display: none;
}

body {
  background-image: linear-gradient(to right, #333, #111);
  width: 100%;
  margin: 30px auto;
  overflow-x: hidden;
  overflow-y: overlay;
}

.open {
  display: block;
}

.contato-info {
  background-color: #e96029;
  border-color: transparent;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
  transition: 0.3s;
}

#legenda {
  color: white;
  font-size: 15px;
}

#legenda2 {
  color: white;
  font-size: 15px;
  text-decoration: underline;
}

.contato-info:hover {
  background-color: #913c1b;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #e96029;
}

.menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 13px;
  cursor: pointer;
  color: #e96029;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 40px;
}

nav ul li a {
  padding: 10px 13px;
  transition: 0.3s;
  color: #e96029;
  transition: 0.4s;
}

nav ul li a:hover {
  opacity: 0.6;
}

.blob {
	background: transparent;
	animation: pulse 2.5s infinite;
}

#teamzed {
  background-color: transparent;
  border-radius: 22px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#teamzed .titulo {
  margin-top: 15px;
  text-shadow: 6px 6px rgb(233, 96, 41, 0.1);
}

.titulo {
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: -15px;
}

.paragrafo {
  color: #6b6b6b;
  text-align: center;
  margin-bottom: 40px;
  width: 498px;
}

.forms-button {
  padding: 18px 46px;
  margin-bottom: 62px;
  color: white;
  background-color: #1e1e1e;
  border: none;
  border-radius: 17px;
}

.forms-button:hover {
  background-color: #242424;
}

/* quem somos */
#serv1 {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.markup {
  margin: 90px 0 30px 0;
  padding: 18px 36px;
  background: #e96029;
  border-radius: 40px;
  color: white;
}

#serv1 .paragrafo {
  width: 700px;
  margin-bottom: 70px;
}

.box-quemsomos {
  margin-top: 120px;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #444;
  box-shadow: 0px 12px 34px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 45px 45px;
}

.box-quemsomos img {
  margin-top: -180px;
}

.coach-container {
  display: flex;
}

.coach {
  margin-top: 90px;
  text-align: center;
  padding: 0 150px;
}

.coach h3 {
  font-size: 65px;
  margin-top: 10px;
  margin-bottom: -5px;
  font-weight: bold;
  color: whitesmoke;
  width: 460px;
}

.coach span {
  color: #777777;
}

.avatar-van, .avatar-edu {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow:  10px 10px 0px #e96029,  /*right*/
                -10px -10px 0px #333; /*left*/
}

.avatar-van:hover, .avatar-edu:hover {
  height: 250px;
  width: 250px;
  transform: scale(0.95);
  border-radius: 10px;
  box-shadow:  20px 20px 0px #e96029,  /*right*/
                -20px -20px 0px #333; /*left*/
}

.cards-box {
  display: flex;
  justify-content: space-between;
  margin-top: 315px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 90px;
}

.titulo-card {
  margin: 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: #f5f5f5;
}

.descricao-card {
  color: #777777;
  margin-top: -5px;
  width: 250px;
}

.container-info2 {
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* o que entregamos */
#serv2 {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#serv2 .paragrafo {
  width: 581px;
  margin-bottom: -10px;
}

.svg {
  width: 600px;
  height: 600px;
  padding-top: 0;
}

#serv2 .cards-box {
  margin-top: 80px;
}

#serv2 .forms-button {
  margin-top: 90px;
}

/* aside */
aside {
  background: #e96029;
  display: flex;
  justify-content: space-around;
  padding: 5px 70px;
}

.aside-container {
  display: flex;
  flex-direction: column;
}

.aside-container .markup {
  background-color: #333;
  width: 180px;
  padding-left: 47px;
  font-size: 17px;
}

.aside-container .titulo {
  width: 502px;
  text-align: left;
  margin-top: -20px;
}

.aside-container p {
  margin-top: -5px;
  width: 549px;
  color: whitesmoke;
}

aside img {
  margin-top: 90px;
  opacity: 0.9;
  animation: float 4s infinite;
}

/* aside 2 */
#aside2 {
  background: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

#aside2 h2 {
  margin-top: 100px;
  width: 1200px;
  font-size: 50px;
  text-align: center;
}

#aside2 .forms-button {
  background-color: white;
  color: black;
  margin-top: -370px;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  animation: pulse2 2s infinite;
}

#aside2 .forms-button:hover {
  background-color: #e96029;
  color: whitesmoke;
  font-size: 20px;
  animation-play-state: paused;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}